.site_container {
    display: flex;
    align-items: center; /* 子要素を中央揃えにする */
    justify-content: flex-end;
    text-decoration: none;
}

.login_btn,
.signup_btn,
.logout_btn,
.new_btn,
.account_btn {
    display: flex;
    align-items: center; /* アイコンとテキストを中央揃えにする */
    gap: 6px; /* アイコンとテキストの間にスペースを追加 */
    color: #fff;
    padding: 8px 20px;
    border-radius: 8px;
}

.login_btn {
    background-color: #0c7c59;
    margin-right: 20px;
}

.signup_btn {
    background-color: #58a4b0;
    margin-right: 20px;
}

.new_btn {
    background-color: #e26d5c;
    margin-right: 20px;
}

.logout_btn {
    outline: none;
    border: none;
    background-color: #210203;
    margin-right: 20px;
}

.account_btn {
    background-color: #048ba8;
    margin-right: 20px;
}

@media screen and (max-width: 768px) {
    .site_container {
        padding-top: 40px;
    }
}
