




.categoryContainer {
    margin-top: 20px;
    margin-bottom: 20px;
}

.selectField {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin-top: 8px;
}

.materialItem {
    display: flex;
    align-items: center;
    gap: 10px;
}

.addButton,
.removeButton,
.submitButton {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}

.addButton {
    background-color: #007bff;
}

.removeButton {
    background-color: #dc3545; 
}

.materialsContainer {
    margin-top: 20px;
    margin-bottom: 90px;
}


.materialNameInput,
.materialQuantityInput {
    flex: 1; 
    margin-right: 10px; 
}




.materialItem {
    display: flex;
    align-items: flex-end;
    margin-bottom: 16px; 
}


.label {
    display: block;
    text-align: center;
    margin-bottom: 10px;
}


.buttonContainer {
    display: flex; 
    justify-content: flex-end; 
    gap: 10px; }

.buttonContainer button {
    margin-top: 10px;
}


.howToItem {
    margin-bottom: 30px;
}
.textArea {
    width: 100%;
    height: 100px; 
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}


