@use "../../../common/variables" as *;
@use "../../../common/mixin" as *;
@use "../../../layout/admin-form" as *;

// 材料フォーム
.materials-container {
    margin-top: 20px;

    .material-item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 16px;
        margin-bottom: 16px;

        &:first-child {
            margin-top: 0;
        }

        .material-group,
        .quantity-group {
            flex: 1 1 50%;
            margin-right: 10px;

            .input-field {
                width: 100%;
                @include input-style;
                margin-bottom: 0;
            }
        }

        .button-group {
            flex: 0 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;

            .add-button,
            .remove-button {
                height: 38px;
            }
        }

        .add-button {
            @include button-style(#007bff, darken(#007bff, 10%));
        }

        .remove-button {
            @include button-style(#dc3545, darken(#dc3545, 10%));
        }
    }
    @include sp {
        .material-item {
            flex-direction: column;
            gap: 10px;

            .material-group,
            .quantity-group {
                width: 100%;
                margin-right: 0;
            }
            .button-group {
                width: 100%;
                justify-content: flex-end;
            }
        }
    }
}
