/* ボタン */

.recipe_all {
    padding-bottom: 60px;
    text-align: center;
    margin: 0 auto;
}

.recipe_all_btn {
    display: inline-block;
    padding: 10px 20px;
    border: solid 3px #e75eb3;
    border-radius: 35px;
    font-size: 14px;
    background: #e75eb3;
    color: #fff;
    transition: 0.4s;
}

.recipe_all_btn:hover {
    opacity: 0.7;
}
