/* --------------------------
    categoryは別gridレイアウト
   -------------------------- */

.category_title {
    text-align: left;
    font-size: 24px;
    margin-bottom: 40px;
}

.category_content {
    margin-bottom: 80px;
    padding: 0 42px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 18px;
    color: #fff;
}

/*  カテゴリーによって、背景色を変更する */

.assari {
    background-color: #201e64; /* 例: あっさりの背景色 */
}

.sappari {
    background-color: #a7d1d1; /* 例: さっぱりの背景色 */
}

.gatturi {
    background-color: #e14b00; /* 例: ガッツリの背景色 */
}

.papatto {
    background-color: #ffb700; /* 例: ぱぱっとの背景色 */
}

.default {
    background-color: #a7d1d1; /* デフォルトの背景色 */
}

.assari,
.sappari,
.gatturi,
.papatto,
.default {
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.category_item {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 14px;
}

.category_image {
    object-fit: contain;
}

/* レスポンシブは以下です。 */